@font-face {
    font-family: 'Hepta Slab';
    src: url('fonts/HeptaSlab-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
* {
    font-family: 'Hepta Slab';
}

.title-container {
    width: 100%;
    display: block;
    text-align: center;
}

.container {
    margin: 5px;
}

.image-container {
    display: block;
    text-align: center;
    width: 100%;

    img {
        border-radius: 25px;
        box-shadow: #1D1D1D 5px 25px 60px;
        margin-bottom: 30px;
        width: 70%;
    }
}

.text-container {
    display: block;
    text-align: justify;
}

/* FORM STYLES */
.form-container {
    width: 100%;
}
.form-title {
    width: 100%;
    display: block;
    text-align: center;
}
.input-group {
    padding: 10px;
}
input {
    width: 100%;
    border: #1D1D1D solid 1px;
    border-radius: 5px;
}
input:hover {
    border: #2c976e solid 1px;
    border-radius: 5px;
}
.button-container {
    display: block;
    text-align: end;
}

button {
    padding: 5px;
    background-color: #1D1D1D;
    color: antiquewhite;
    border: #1D1D1D solid 1px;
    border-radius: 10px;
    margin-top: 5px;
}

/* FOOTER STYLES */
footer {
    background-color: #1D1D1D;
    color: aliceblue;
    position: fixed;
    width: 100%;
}